.rabbit1 {
    animation: jump 3.5s ease infinite;
    opacity: 1;
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    position: relative;
    width: 140px;
    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        vertical-align: middle;
        border-style: none;
        transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    :last-child {
        position: absolute;
        top: 65px;
        width: 45%;
        height: 38%;
        -webkit-transform: translate(75%, 5%);
        transform: translate(75%, 5%);
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-animation: pendulum1 3.5s cubic-bezier(0.57, 0.07, 0.47, 0.84) infinite;
        animation: pendulum1 3.5s cubic-bezier(0.57, 0.07, 0.47, 0.84) infinite;
        transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);
    }
    60% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);
    }
    65% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);
    }
    70% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@keyframes pendulum1 {
    0% {
        -webkit-transform: translate(75%, 5%) rotate(-10deg);
        transform: translate(75%, 5%) rotate(-10deg);
    }
    50% {
        -webkit-transform: translate(75%, 5%) rotate(10deg);
        transform: translate(75%, 5%) rotate(10deg);
    }
    100% {
        -webkit-transform: translate(75%, 5%) rotate(-10deg);
        transform: translate(75%, 5%) rotate(-10deg);
    }
}
