.landing-page {
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
    color: white;
    min-height: 1500px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.wrapper{

}
.scroll {
    width: 10px;
    height: 1000px;
    background-color: red;
}
body {
    background: #9e1831;
}
body::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -1800px;
    background: url('./Vector\ \(3\).png');
    opacity: 0.08;
}
