.flower-rotate {
    width: 100px;
    img {
        width: 100%;
        animation: rotate360 16s linear infinite;
        opacity: 1;
        transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
}

@keyframes rotate360 {
    100% {
        transform: scale(1) rotate(360deg);
    }
}
